/*
                                                   
,--.   ,--.                 ,--.                   
|  |   |  | ,--,--.,--. ,--.|  |-.  ,--,--.,--.--. 
|  |.'.|  |' ,-.  | \  '  / | .-. '' ,-.  ||  .--' 
|   ,'.   |\ '-'  |  \   '  | `-' |\ '-'  ||  |    
'--'   '--' `--`--'.-'  /    `---'  `--`--'`--'    
 ,---.   ,--.      `---',--.                       
'   .-',-'  '-.,--. ,--.|  | ,---.                 
`.  `-.'-.  .-' \  '  / |  || .-. :                
.-'    | |  |    \   '  |  |\   --.                
`-----'  `--'  .-'  /   `--' `----'                
               `---'                               
*/

/* Keyframes */

@keyframes blink-critical {
	to {
		/*color: @white;*/
		background-color: @critical;
	}
}

/* Import Colors */
@import "/home/pankine/Documents/Colorschemes/css/Paradise-Blue.css";

/* Reset all styles */
* {
	border: none;
	border-radius: 0;
	min-height: 0;
	margin: 0;
	padding: 0;
	box-shadow: none;
	text-shadow: none;
	icon-shadow: none;
}

/* The whole bar */
#waybar {
	background: @bg;
	color: @white;
	font-family: tewi, Cozette;
	font-size: 9pt;
	font-weight: Normal;
	border-top: 5px solid @braccent;
	outline: @blue 1px solid;
	outline-offset: 1px;
	}

/* Each module */
#battery,
#clock {
	background: @fg;
	color: @white;
	border-radius: 0px;
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 5pt;
	padding-bottom: 5pt;
  margin-left: 7pt;
	margin-top: 10pt;
	margin-bottom: 6pt;
	}

#language {
	background: @fg;
	color: @white;
	border-radius: 0px;
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 5pt;
	padding-bottom: 5pt;
  margin-left: 7pt;
	margin-top: 10pt;
	margin-bottom: 6pt;
	}

#cpu,
#mode,
#network {
	background: @fg;
	color: @white;
	border-radius: 0px;
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 5pt;
	padding-bottom: 5pt;
	margin-right: 7pt;
	margin-top: 10pt;
	margin-bottom: 6pt;

}
#bluetooth {
	background: @fg;
	color: @white;
	border-radius: 0px;
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 5pt;
	padding-bottom: 5pt;
	margin-right: 7pt;
	margin-top: 10pt;
	margin-bottom: 6pt;
}
#mpd {
	background: @fg;
	color: @white;
	border-radius: 0px;
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 5pt;
	padding-bottom: 5pt;
	margin-left: 7pt;
	margin-top: 10pt;
	margin-bottom: 6pt;
}

/* Each critical module */
#mode,
#memory.critical,
#cpu.critical,
#temperature.critical,
#battery.crtical.discharging {
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-name: blink-critical;
	animation-duration: 1s;
}

/* Each warning */
#network.disconnected,
#memory.warning,
#cpu.warning,
#temperature.warning,
#battery.warning.discharging {
	color: @warning;
}

/* And now modules themselves in their respective order */

/* Current sway mode (resize etc) */
#mode {
	color: @white;
	background: @mode;
}

/* Workspaces stuff */
#workspaces {
	background: @fg;
	color: @white;
	border-radius: 0px;
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 5pt;
	padding-bottom: 5pt;
	margin-top: 10pt;
	margin-bottom: 6pt;
}

#disk {
	background: @fg;
	color: @white;
	border-radius: 0px;
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 5pt;
	padding-bottom: 5pt;
	margin-right: 7pt;
	margin-top: 10pt;
	margin-bottom: 6pt;
}

/* Active (on focused output) */
#workspaces button.active {
	color: @accent;
}

/* Contains an urgent window */
#workspaces button.urgent {
	color: @warning;
}

/* Style when cursor is on the button */
#workspaces button:hover {
	color: @braccent;
	background: @fg;
}

#wireplumber {
	background: @fg;
	color: @white;
	border-radius: 0px;
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 5pt;
	padding-bottom: 5pt;
	margin-right: 7pt;
	margin-top: 10pt;
	margin-bottom: 6pt;
}

